@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary */
  --blue: hsl(250, 53%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);

  /* Neutral */

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 62%);
  --desaturated-blue-hover: hsl(236, 41%, 34%);

  --pale-blue: hsl(236, 100%, 87%);
  --white: #fff;
}

/* CSS resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

img {
  display: block;
  max-width: 100%; /* Ensure media elements are responsive */
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: var(--desaturated-blue);
}

body {
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1110px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

/* User Report */

.user-report {
  background-color: var(--dark-blue);
  border-radius: 15px;
  overflow: hidden;
}

.user-profile {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 35px 39px 34px 32px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.user-profile img {
  width: 64px;
  height: 64px;
  border: 4px solid var(--white);
  border-radius: 50%;
}

.user p {
  font-size: 0.9375rem;
  color: var(--pale-blue);
}

.user h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.user-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
}

.btn,
.options-btn,
.activity-tracked {
  cursor: pointer;
}

.options-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  box-shadow: 0 0 0 -0.5rem var(--dark-blue), 0 0 0 -0.5rem var(--blue);
  transition: box-shadow 200ms cubic-bezier(0.72, -0.12, 0.24, 1.14),
    color 200ms ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:focus-within {
  box-shadow: 0 0 0 0.1rem var(--dark-blue), 0 0 0 0.4rem var(--blue);
}

/* Hover and active states */

.activity-tracked:hover {
  background-color: var(--desaturated-blue-hover);
}

.btn:where(.active, :hover, :focus-within) {
  color: var(--white);
}

.options-btn:hover svg path {
  fill: var(--white);
}

.activity-tracker {
  border-radius: 15px;
  overflow: hidden;
}

.activity-tracked {
  background-color: var(--dark-blue);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 28px 24px;
  position: relative;
}

.activity,
.activity-times {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity {
  margin-bottom: 6px;
}

.activity h2 {
  font-size: 1.125rem;
  font-weight: 500;
}

.current-time {
  font-size: 2rem;
  font-weight: 300;
}

.previous-time {
  font-size: 0.9375rem;
  color: var(--pale-blue);
}

.activity-icon {
  position: relative;
  height: 38px;
}

.icon {
  position: absolute;
  right: 1rem;
}

/* Work */

.work-icon {
  top: -0.7rem;
}

.activity-work {
  background-color: var(--light-red-work);
}

/* PLay */

.play-icon {
  top: -0.3rem;
}

.activity-play {
  background-color: var(--soft-blue-play);
}

/* Study */
.study-icon {
  top: -0.5rem;
}

.activity-study {
  background-color: var(--light-red-study);
}

/* Exercise */
.exercise-icon {
  top: -0.1rem;
}

.activity-exercise {
  background-color: var(--lime-green-exercise);
}

/* Social */
.social-icon {
  top: -0.9rem;
}

.activity-social {
  background-color: var(--violet-social);
}

/* Self Care */
.self-care-icon {
  top: -0.7rem;
}

.activity-self-care {
  background-color: var(--soft-orange-self-care);
}

/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
