@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary */
  --blue: hsl(250, 53%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);

  /* Neutral */

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 62%);
  --pale-blue: hsl(236, 100%, 87%);
  --white: #fff;
}

/* CSS resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Set base font size (16px) */
  line-height: 1.5; /* Improve readability */
  scroll-behavior: smooth; /* Smooth scrolling */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

img {
  display: block;
  max-width: 100%; /* Ensure media elements are responsive */
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: var(--desaturated-blue);
}

body {
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0px;
}

/* .activity-tracker {
  overflow: hidden;
  border-radius: 15px;
  min-width: 327px;
}

.activity-tracker:is(.work) {
  background-color: var(--light-red-work);
}

.activity-tracker:is(.play) {
  background-color: var(--soft-blue-play);
}

.activity-tracker:is(.study) {
  background-color: var(--light-red-study);
}

.activity-tracker:is(.exercise) {
  background-color: var(--lime-green-exercise);
}

.activity-tracker:is(.social) {
  background-color: var(--violet-social);
}

.activity-tracker:is(.self-care) {
  background-color: var(--soft-orange-self-care);
}

.activity-bg {
  height: 38px;
  display: grid;
  place-content: start end;
}

.activity-bg > img {
  transform: translate(-1rem, -0.7rem);
  position: relative;
  z-index: 1;
}

.activity-tracker:is(.play) > .activity-bg > img {
  transform: translate(-1rem, -0.33rem);
  position: relative;
  z-index: 1;
}

.activity-tracker:is(.exercise) > .activity-bg > img {
  transform: translate(-1rem, 0rem);
  position: relative;
  z-index: 1;
}

.activity {
  position: relative;
  z-index: 5;
  padding: 28px 24px;
  background-color: var(--dark-blue);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activity-header,
.activity-hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 71px;
}

.activity-header h2 {
  font-size: 1.125rem;
}

.activity-hours h3 {
  font-size: 2rem;
  font-weight: 300;
}

.activity-hours p {
  margin-top: 5px;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--pale-blue);
} */

/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
